.git
.env.local
.env.*.local
/vendor
/var
/public/assets
/public/bundles
/public/uploads/images/*
!/public/uploads/images/.gitkeep
/public/uploads/cv/*
!/public/uploads/cv/.gitkeep
/assets/vendor
/design
docker-compose*.yaml
Dockerfile
.dockerignore
